| open_range | ETHUSDT | 4h | `{"period": 24}` | 0.21 | 0.51 | 146.4% | PASS |
| macd | ETHUSDT | 4h | `{"fast": 13, "slow": 29}` | 0.23 | 0.02 | -5.4% | FAIL |
| dual_ma | BTCUSDT | 4h | `{"fast": 12, "slow": 80}` | 0.13 | 0.17 | 40.3% | FAIL |
| open_range | BTCUSDT | 4h | `{"period": 9}` | 0.03 | -0.13 | -0.8% | FAIL |
| dual_ma | BTCUSDT | 1d | `{"fast": 3, "slow": 30}` | 1.03 | 0.61 | 4.8% | PASS |
| time_series | ETHUSDT | 1d | `{"period": 66, "threshold": 0.08000000000000002}` | 0.24 | 2.64 | 35.6% | PASS |
| open_range | ETHUSDT | 4h | `{"period": 26}` | 0.22 | 0.63 | 19.2% | PASS |
| trend_following | ADANIENT | 1d | `{"fast": 3, "slow": 7}` | 1.09 | 1.13 | 1610.9% | PASS |
| trend_following | ADANIPORTS | 1d | `{"fast": 8, "slow": 7}` | 0.35 | 0.21 | 34.3% | FAIL |
| trend_following | APOLLOHOSP | 1d | `{"fast": 8, "slow": 7}` | 0.80 | 0.31 | 75.0% | PASS |
| trend_following | ASIANPAINT | 1d | `{"fast": 6, "slow": 19}` | 0.74 | 0.40 | 86.2% | PASS |
| trend_following | AXISBANK | 1d | `{"fast": 8, "slow": 19}` | 0.61 | -0.01 | -2.2% | FAIL |
| trend_following | BAJAJ-AUTO | 1d | `{"fast": 8, "slow": 19}` | 0.96 | 0.63 | 179.3% | PASS |
| trend_following | BAJFINANCE | 1d | `{"fast": 8, "slow": 7}` | 0.27 | -0.28 | -50.1% | FAIL |
| trend_following | BAJAJFINSV | 1d | `{"fast": 8, "slow": 19}` | 0.98 | 0.83 | 341.8% | PASS |
| trend_following | BEL | 1d | `{"fast": 8, "slow": 13}` | 0.39 | 0.78 | 380.0% | PASS |
| trend_following | BHARTIARTL | 1d | `{"fast": 8, "slow": 13}` | 0.61 | 0.43 | 111.3% | PASS |
| trend_following | CIPLA | 1d | `{"fast": 8, "slow": 7}` | 0.40 | 0.41 | 108.6% | PASS |
| trend_following | COALINDIA | 1d | `{"fast": 8, "slow": 7}` | 0.12 | 0.25 | 31.2% | FAIL |
| trend_following | DRREDDY | 1d | `{"fast": 8, "slow": 7}` | 0.33 | 0.05 | 15.8% | FAIL |
| trend_following | EICHERMOT | 1d | `{"fast": 3, "slow": 19}` | 0.72 | 0.12 | 27.7% | FAIL |
| trend_following | ETERNAL | 1d | `{"fast": 6, "slow": 13}` | 0.66 | 0.14 | 5.2% | FAIL |
| trend_following | GRASIM | 1d | `{"fast": 6, "slow": 7}` | 0.37 | 0.48 | 120.0% | PASS |
| trend_following | HCLTECH | 1d | `{"fast": 8, "slow": 7}` | 0.81 | -0.18 | -18.3% | FAIL |
| trend_following | HDFCBANK | 1d | `{"fast": 8, "slow": 13}` | 0.38 | -0.15 | -11.5% | FAIL |
| trend_following | HDFCLIFE | 1d | `{"fast": 6, "slow": 13}` | 0.33 | -0.17 | -3.6% | FAIL |
| trend_following | HINDALCO | 1d | `{"fast": 3, "slow": 19}` | 0.55 | 0.48 | 193.1% | PASS |
| trend_following | HINDUNILVR | 1d | `{"fast": 8, "slow": 7}` | 0.21 | -0.40 | -34.2% | FAIL |
| trend_following | ICICIBANK | 1d | `{"fast": 8, "slow": 7}` | 0.40 | 0.16 | 35.2% | FAIL |
